* {
  font-family: ozone;
  color: #554646;
}

body {
  margin: 0;
}

.flex-col {
  display: flex;
  flex-flow: column nowrap;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
}

.cover {
  padding-top: 2em;
  justify-content: flex-end;
  align-items: center;
  background: repeating-linear-gradient(
      0deg,
      transparent,
      transparent 99px,
      #fff 10px,
      #fff 100px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 99px,
      #fff 10px,
      #fff 100px
    ),
    #fcdde7;
  box-sizing: border-box;
  width: 100%;
}

.cover-image {
  max-width: 50%;
  height: auto;
}

.cover-container {
  padding: 1em;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
}

.cover-text {
  font-size: 2.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.cover-highlight {
  font-size: 1.6em;
}

.cover-bottom {
  cursor: pointer;
  padding-top: 4em;
  justify-content: flex-end;
  align-items: center;
  background: #dde8fc;
  box-sizing: border-box;
  width: 100%;
}

.cover-bottom-container {
  position: relative;
}

.cover-bottom-image {
  width: 100%;
  height: auto;
}

.cover-bottom-text-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20%;
  justify-content: center;
  align-items: center;
}

.cover-bottom-text {
  font-size: 2.5em;
}

.text-icon {
  width: 32px;
}

@media screen and (max-width: 600px) {
  .cover-text {
    font-size: 1.6em;
  }
}

@font-face {
  font-family: ozone;
  src: url("/assets/font/DB Ozone X v3.2.ttf");
}
